body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.CajaSemaforo {
    background-color: black;
    height: 1200px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.Semaforo {
    background-color: transparent;
    height: 1000px ;
    width:350px ;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.RedLight {
border-radius: 50%;
background-color: red;
height: 250px;
width: 250px;
filter: brightness(0.5);
}
.GreenLight {
    border-radius: 50%;
    background-color: green;
    height: 250px;
    width: 250px;
    filter: brightness(0.5);
}
.YellowLight {
    border-radius: 50%;
    background-color: yellow;
    height: 250px;
    width: 250px;
    filter: brightness(0.5);
}
.PurpleLight {
    border-radius: 50%;
    background-color: purple;
    height: 250px;
    width: 250px;
    filter: brightness(0.5);
}

.LightOn {
    filter: brightness(1.5);
}